/* Font */

@font-face {
    font-family : Acre;
    src: url(../fonts/acre.woff) format('woff');
}

a {
    text-decoration: none;
    color : #fff;
}

body {
    font : 12px 'Acre', arial, helvetica, sans-serif;
    background-color: #eaeaea;
}

body, html, .container {
	height : 900px;
}

h1, p {
    color : #fff;
}

h1 {
    font-size : 30px;
    text-align: center;
    letter-spacing: 2px;
}

.container {
    width : 900px;
    margin : 20px auto;
    box-shadow : 0 10px 15px 5px grey;
}

.sidebar {
    width : 40%;
    height: 100%;
    background-color: #00827a;
    float : left;
}

.sidebar .pic,
.sidebar .pic img {
    width : 200px;
    height : 200px;
    margin : auto;

}

.sidebar .pic {
    background-color: rgb(200, 200, 200, .5);
    border-radius: 50%;
    margin-top : 100px;
}

.sidebar .pic:hover {
    opacity : 1;
}

.sidebar .pic img {
    box-sizing : border-box;
    border : 5px solid #333;
    border-radius: 50%;
    
}

.sidebar .description {
    width : 93%;
    padding : 10px;
    margin : auto;
    /* border : 1px solid red; */
}

.sidebar .description p {
    text-align: center;
    padding-top :10px;
    letter-spacing: .5px;
    word-spacing: 1px;
}

.sidebar .contact {
    width : 90%;
    /* border : 1px solid red; */
    margin : auto;
    margin-top : 40px;
}

.sidebar .contact p {
    text-transform: uppercase;
    font-size: 25px;
    font-style: italic;
    float : left;
}

.sidebar .contact hr {
    width : 150px;
    float : right;
    margin-top: 15px;
    color : #fff;
}

.sidebar .clear {
    clear : both;
}

.sidebar ul {
    /* border : 1px solid red; */
    padding : 10px;
    margin-top : 10px;
}

.sidebar li p {
    letter-spacing: 1px;
}

.sidebar li {
    margin-bottom : 10px;
    margin-left : 10px;
}

.sidebar li img {
    width : 18px;
    height: 18px;
    float : left;
    margin-right : 10px;
}

.main {
    float : right;
    width : 60%;
    height : 100%;
    background-color: #fff;
}

.main img {
    width : 18px;
    height: 18px;
    background-color : #00827a;
    padding : 10px;
    border-radius: 50%;
    float : left;
}

.main .judul {
    color: #00827a;
    float : left;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    margin-left : 10px;
    /* border : 1px solid red; */
}

.main hr {
    float : right;
    width: 270px;
    border : 1px solid #00827a;
    margin-top : 17px;
    margin-right : 10px;
}

.main .college,
.main .skill {
    margin-top : 15px;
    /* border : 1px solid red; */
    padding : 10px;
}

.main .history {
    border-left : 2px solid #00827a;
    padding-left: 20px;
    padding-bottom : 12px;
    width : 150px;
    float : left;
    position: relative;
}

.main .history,
.main .skills {
    border-left : 2px solid #00827a;
    margin-left : 40px;
    position: relative;
}

.main .history .circle,
.main .skills .circle {
    width : 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00827a;
    border : 5px solid #fff;
    position : absolute;
    left : -11px;
}

.main .history .circle {
    margin-top : 12px;
}

.main .history,
.main .skill .skills {
    margin-top : 15px;
    padding-top : 8px;

}

.main .history .year {
    color : #b5662e;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
}

.main .name {
    /* border : 1px solid red; */
    float : right;
    width : 280px;
    margin-top : 15px;
}

.main .name p {
    color : #333;
    font-size : 13px;
    font-weight: bold;
    line-height : 33px;
    padding-top : 9px;
}

.main .clear {
    clear : both;
}

/* .main .skill {
    border : 1px solid red;
} */

.main .skills {
    width : 150px;
    float : left;
}

.main .skills .circle {
    margin-bottom : 10px;
    border : 2px solid #fff;
    left : -8px;
}

.main .skill .skills .sk {
    font-size: 15px;
    color : #333;
    text-align: right;
    font-weight: bold;
    margin-bottom : 10px;
}

.main .skill .diagram {
    width : 250px;
    height : 110px;
    margin-top : 25px;
    /* border : 1px solid red; */
    float : right;
    position : relative;
    margin-right : 30px;
}

.main .skill .diagram .satu,
.main .skill .diagram .dua,
.main .skill .diagram .tiga,
.main .skill .diagram .empat {
    width : 250px;
    height : 10px;
    margin : auto;
    background-color :salmon;
    margin-bottom : 18px;
}

.main .skill .diagram .satu1,
.main .skill .diagram .dua2,
.main .skill .diagram .tiga3,
.main .skill .diagram .empat4 {
    position : absolute;
    width : 250px;
    height : 10px;
    background-color :#00827a;
    margin-top : 0;
}

.main .skill .diagram .satu1 {
    top : 0;
    width : 95%;
}

.main .skill .diagram .dua2 {
    top : 28px;
    width : 80%;
}

.main .skill .diagram .tiga3 {
    top : 56px;
    width : 75%;
}

.main .skill .diagram .empat4 {
    top : 84px;
    width : 68%;
}